@import "tailwindcss";

body {
  color: #171717;
}

input[type="text"],
input[type="search"],
textarea,
select {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0 2px #f9a8d4;
}
